<div class="container-modal">
  <div class="container-modal__cross">
    <div class="container-modal__cross-item">
      <img src="/shelter/assets/icons/Vector.svg" alt="cross" />
    </div>
  </div>
  <div class="container-modal__content">
    <div class="image-wrapper">
      <img
        src="/shelter/assets/images/pets-jennifer-modal.png"
        alt="puppy-dog"
      />
    </div>
    <div class="information-wrapper">
      <h3 class="title title-modal">#NAME#</h3>
      <h3 class="title title-modal__sub">#PUPPY TYPE#</h3>
      <p class="text text-modal">#TEXT#</p>
      <ul class="list">
        <li class="list__item text-modal">#INFO1#</li>
        <li class="list__item text-modal">#INFO2#</li>
        <li class="list__item text-modal">#INFO3#</li>
        <li class="list__item text-modal">#INFO4#</li>
      </ul>
    </div>
  </div>
</div>
