<div class="container-modal modal_active">
  <div class="container-modal__content">
    <div class="container-modal__cross">
      <div class="container-modal__cross-item">
        <img src="/shelter/assets/icons/Vector.svg" alt="cross" />
      </div>
    </div>
    <div class="image-wrapper">
      <img
        class="image-wrapper__image"
        src="#IMAGE#"
        alt="puppy-dog-or-a-cat"
      />
    </div>
    <div class="information-wrapper">
      <h3 class="title title-modal">#NAME#</h3>
      <h3 class="title title-modal__sub">#TYPE#</h3>
      <p class="text text-modal">#DESCRIPTION#</p>
      <ul class="list">
        <li class="list__item text-modal"><b>Age:</b> #AGE#</li>
        <li class="list__item text-modal">
          <b>Inoculations:</b> #INOCULATIONS#
        </li>
        <li class="list__item text-modal"><b>Diseases:</b> #DISEASES#</li>
        <li class="list__item text-modal"><b>Parasites:</b> #PARASITES#</li>
      </ul>
    </div>
  </div>
</div>
