.header {
  display: flex;
  justify-content: space-between;

  @include for-burger {
    align-items: center;
  }

  @include for-mobile {
    align-items: center;
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;

    .title-logo {
      line-height: 3.5rem;
      color: $color-primary;
      font-size: 3.2rem;
      margin-bottom: 1rem;
    }

    .text-logo {
      font-size: 1.3rem;
      line-height: 1.5rem;
      letter-spacing: 0.1em;
      color: #fff;
      margin-left: 0.4rem;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    transform: translateX(32rem);
    transition: transform 0.5s ease-in-out;

    @include for-burger {
      position: fixed;
      top: 0;
      right: 0;
      width: 32rem;
      height: 100%;
      background: $color-button;
      opacity: 0;
      pointer-events: none;
      transform: translateX(32rem);
      transition: transform 0.5s ease-in-out;
      padding: 0 3.8rem;
      overflow: hidden;
    }

    @include for-mobile {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: $color-button;
      opacity: 0;
      pointer-events: none;
      transform: translateX(32rem);
      transition: transform 0.5s ease-in-out;
      padding: 0 3.8rem;
    }

    .list {
      display: flex;
      flex-direction: row;
      padding-bottom: 0.4rem;

      @include for-burger {
        flex-direction: column;
      }

      @include for-mobile {
        flex-direction: column;
      }

      &__item {
        font-family: $font-arial;
        margin-right: 3.5rem;
        font-size: 1.5rem;
        line-height: 2.4rem;

        @include for-burger {
          margin-bottom: 4.3rem;
          margin-right: 0;
        }

        @include for-mobile {
          margin-bottom: 4.3rem;
          margin-right: 0;
        }
      }

      &__item:last-child {
        margin-right: 0;
      }

      &__item:first-child {
        @include for-tablet {
          margin-right: 3.65rem;
        }

        @include for-burger {
          margin-right: 0;
        }

        @include for-mobile {
          margin-right: 0;
        }
      }

      .fancy-hover {
        color: $color-cdcdcd;
        transition: 0.5s;

        @include for-burger {
          font-size: 3.2rem;
          line-height: 5.1rem;
        }

        @include for-mobile {
          font-size: 3.2rem;
          line-height: 5.1rem;
        }
      }

      .fancy-hover:hover {
        color: $color-fafafa;
      }

      .active-link {
        position: relative;
        color: $color-fafafa;
        transition: 0.5s;
        pointer-events: none;

        @include for-burger {
          font-size: 3.2rem;
          line-height: 5.1rem;
        }

        @include for-mobile {
          font-size: 3.2rem;
          line-height: 5.1rem;
        }
      }

      .active-link::after {
        background-color: $color-primary;
        content: "";
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        width: 100%;
        height: 0.3rem;
      }
    }
  }

  .nav_active {
    opacity: 1;
    pointer-events: all;
    width: 320px;
    z-index: 100;
    transition: transform 0.5s ease-in-out;

    @include for-burger {
      transform: translateX(0);
    }

    @include for-mobile {
      transform: translateX(0);
    }
  }

  .burger {
    display: none;

    @include for-burger {
      z-index: 100;
      display: block;
      position: relative;
      width: 3rem;
      height: 1.5rem;
      cursor: pointer;
    }

    @include for-mobile {
      z-index: 100;
      display: block;
      position: relative;
      width: 3rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  .burger span {
    @include for-burger {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color-button;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: transform 0.5s ease-in;
      background-color: $color-primary;
    }

    @include for-mobile {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color-button;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: transform 0.5s ease-in;
      background-color: $color-primary;
    }
  }

  .burger span:nth-child(1) {
    @include for-burger {
      top: -0.4rem;
    }

    @include for-mobile {
      top: -0.4rem;
    }
  }

  .burger span:nth-child(2) {
    @include for-burger {
      top: 0.6rem;
    }

    @include for-mobile {
      top: 0.6rem;
    }
  }

  .burger span:nth-child(3) {
    @include for-burger {
      top: 1.6rem;
    }

    @include for-mobile {
      top: 1.6rem;
    }
  }

  .burger_active span:nth-child(1) {
    @include for-burger {
      top: 50%;
      transform: rotate(90deg) translateY(45%);
    }

    @include for-mobile {
      top: 50%;
      transform: rotate(90deg) translateY(45%);
    }
  }

  .burger_active span:nth-child(2) {
    @include for-burger {
      top: 50%;
      transform: rotate(90deg) translateY(9px);
    }

    @include for-mobile {
      top: 50%;
      transform: rotate(90deg) translateY(9px);
    }
  }

  .burger_active span:nth-child(3) {
    @include for-burger {
      top: 50%;
      transform: rotate(-90deg) translateY(7px);
    }

    @include for-mobile {
      top: 50%;
      transform: rotate(-90deg) translateY(7px);
    }
  }
}
