.wrapper {
  height: 4.25rem;
  position: relative;

  & i {
    font-size: 3rem;
  }

  .bi-flag-fill {
    position: absolute;
    color: red;
    font-style: italic;
    right: 10%;
  }
}

.airplane-wrapper {
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
