.button {
  border-radius: 10rem;
  border: 2px solid $color-primary;
  padding: 1.5rem 4.5rem;
  font-family: $font-georgia;
  line-height: 2.2rem;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;

  &-primary {
    background-color: $color-primary;
    border: none;
    color: $color-button;
  }

  &-secondary {
  }
}
