.button {
  border-radius: 10rem;
  border: 2px solid $color-primary;
  // padding: 1.5rem 4.5rem;
  font-family: $font-georgia;
  line-height: 2.2rem;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-start {
    width: 20.7rem;
    height: 5.2rem;
    background-color: $color-primary;
    border: none;
    letter-spacing: 0.06em;
    color: $color-button;
  }
}
