html {
  box-sizing: border-box;
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 3.5rem;
  line-height: 4.55rem;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: Georgia, serif;
}

.text {
  line-height: 2.4rem;
  font-family: $font-arial;
  color: $color-text;
}

.card-title {
  color: $color-card-title;
  letter-spacing: $letter-spacing;
  text-align: center;
  line-height: 2.3rem;
  font-family: $font-georgia;
}
