<footer class="footer mt-auto #HIDDENCLASS#">
  <ul class="nav justify-content-center mt-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://rs.school/js/">
        <img
          class="course-logo"
          src="https://rs.school/images/rs_school_js.svg"
          alt="rsschool"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/johngaalt/">
        <i class="bi bi-github"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">2023</a>
    </li>
  </ul>
</footer>
