footer {
  @include background-options(
    url(/shelter/assets/images/footer-background.png)
  );
}

.inner {
  @include inner-section(4rem 4rem 0);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 13.333333%;

  @include for-tablet {
    @include inner-section(3rem 3rem 0);
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper {
    display: flex;
    column-gap: 20.33333%;
    @include for-tablet {
      display: flex;
      margin-bottom: 2.5rem;
      column-gap: 0;
    }

    .contacts {
      flex: 1 0 23.25%;
      margin-top: 1.6rem;

      @include for-tablet {
        margin: 0;
        padding-left: 4.5%;
      }

      .title-contacts {
        margin-bottom: 4rem;

        @include for-tablet {
          margin-bottom: 3.7rem;
        }
      }

      &__content {
        margin-bottom: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-image {
          margin-right: 2rem;
        }

        &-link {
          display: flex;
          align-items: center;
          font-size: 2rem;
          color: $color-primary;
          line-height: $line-height;
          letter-spacing: $letter-spacing;
          font-family: $font-georgia;
        }
      }
    }

    .address {
      flex: 1 0 25.16%;
      margin-top: 1.6rem;

      @include for-tablet {
        margin: 0;
        padding-left: 3.7%;
      }

      .title-address {
        margin-bottom: 3.3rem;

        @include for-tablet {
          margin-bottom: 2.9rem;
        }
      }

      &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3rem;

        @include for-tablet {
          padding-top: 0.3%;
        }

        &-pin {
          margin-right: 2rem;
        }

        &-location {
          font-size: 2rem;
          color: $color-primary;
          line-height: $line-height;
          letter-spacing: $letter-spacing;
          font-family: $font-georgia;
        }
      }

      &__content a {
        display: flex;
        align-items: center;

        @include for-tablet {
          padding: 0.3% 0;
        }
      }

      &__content:first-child {
        margin-bottom: 3.3rem;
      }
    }
  }

  .image-wrapper {
    .logo {
      display: inline-block;
      background-image: url(/shelter/assets/images/footer-puppy.png);
      width: 30rem;
      height: 31rem;
    }
  }
}
