<footer class="footer" id="footer">
  <div class="inner">
    <div class="contacts">
      <h3 class="title title-contacts">For questions and suggestions</h3>
      <div class="contacts__content">
        <a
          class="contacts__content-link"
          href="https://mail.google.com/mail/u/"
          target="_blank"
        >
          <img
            class="contacts__content-image"
            src="/shelter/assets/icons/icon-email.svg"
            alt="letter-icon"
          />email@shelter.com
        </a>
      </div>
      <div class="contacts__content">
        <a class="contacts__content-link" href="tel:+136745677554">
          <img
            class="contacts__content-image"
            src="/shelter/assets/icons/icon-phone.svg"
            alt="phone-icon"
          />
          +13&nbsp;674&nbsp;567&nbsp;75&nbsp;54</a
        >
      </div>
    </div>
    <div class="address">
      <h3 class="title title-address">We are waiting for your visit</h3>
      <div class="address__content">
        <a
          href="https://www.google.com/maps/place/1+Central+Street,+Boston"
          target="_blank"
        >
          <img
            class="address__content-pin"
            src="../../assets/icons/pin.svg"
            alt="pin-icon"
          />
          <p class="address__content-location">
            1 Central Street, Boston (entrance from the store)
          </p>
        </a>
      </div>
      <div class="address__content">
        <a
          href="https://www.google.com/maps/place/18+South+Park,+London"
          target="_blank"
        >
          <img
            class="address__content-pin"
            src="../../assets/icons/pin.svg"
            alt="pin-icon"
          />
          <p class="address__content-location">18 South Park, London</p>
        </a>
      </div>
    </div>
    <div class="image-wrapper">
      <img
        class="image-wrapper__picture"
        src="/shelter/assets/images/footer-puppy.png"
        alt="dog"
      />
    </div>
  </div>
</footer>
