<head>
  <link rel="stylesheet" href="footer.css" />
</head>
<body>
  <footer>
    <div class="inner">
      <div class="contacts">
        <h3 class="title title-contacts">For questions and suggestions</h3>
        <div class="contacts__content">
          <span class="contacts__content-letter"></span>
          <a class="contacts__content-link" href="#">email@shelter.com</a>
        </div>
        <div class="contacts__content">
          <span class="contacts__content-phone"></span>
          <a class="contacts__content-link" href="tel:++136745677554"
            >+13 674 567 75 54</a
          >
        </div>
      </div>
      <div class="address">
        <h3 class="title title-address">We are waiting for your visit</h3>
        <div class="address__content">
          <span class="address__content-pin"></span>
          <p class="address__content-location">
            1 Central Street, Boston (entrance from the store)
          </p>
        </div>
        <div class="address__content">
          <span class="address__content-pin"></span>
          <p class="address__content-location">18 South Park, London</p>
        </div>
      </div>
      <div class="logo-wrapper">
        <span class="logo"></span>
      </div>
    </div>
  </footer>
</body>
