<head>
  <link rel="stylesheet" href="footer.css" />
</head>
<body>
  <footer>
    <div class="inner">
      Footer
      <div class="contacts">
        <h2 class="title">For questions and suggestions</h2>
        <div class="contacts__content">
          <span class="contacts__content-icon"></span>
          <a href="#">email@shelter.com</a>
        </div>
        <div class="contacts__content">
          <span class="contacts__content-icon"></span>
          <a href="tel:++136745677554">+13 674 567 75 54</a>
        </div>
      </div>
      <div class="adress">
        <h2 class="title">We are waiting for your visit</h2>
        <div class="adress__content">
          <span class="adress__content-pin"></span>
          <p class="adress__content-location">
            1 Central Street, Boston (entrance from the store)
          </p>
        </div>
        <div class="adress__content">
          <span class="adress__content-pin"></span>
          <p class="adress__content-location">18 South Park, London</p>
        </div>
      </div>
      <div class="logo-wrapper">
        <span class="logo"></span>
      </div>
    </div>
  </footer>
</body>
