@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/globals";

footer {
  @include background-options(
    url(/shelter/assets/images/footer-background.png)
  );
}

.title {
  font-size: 3.5rem;
  line-height: 4.55rem;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: Georgia, serif;
}

.inner {
  @include inner-section(40px 40px 0);
  display: flex;
  justify-content: space-between;
  gap: 13.333333%;

  .contacts {
    flex: 1 0 23.25%;
    margin-top: 1.6rem;

    .title-contacts {
      margin-bottom: 4rem;
    }

    &__content {
      margin-bottom: 4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-letter {
        display: inline-block;
        width: 4rem;
        height: 3.2rem;
        background-image: url(/shelter/assets/icons/icon-email.svg);
        margin-right: 2rem;
      }

      &-phone {
        display: inline-block;
        width: 4rem;
        height: 3.2rem;
        background-image: url(/shelter/assets/icons/icon-phone.svg);
        margin-right: 2rem;
      }

      &-link {
        font-size: 2rem;
        color: $color-primary;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        font-family: $font-georgia;
      }
    }
  }

  .address {
    flex: 1 0 25.16%;
    margin-top: 1.6rem;

    .title-address {
      margin-bottom: 3.3rem;
    }

    &__content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 3rem;

      &-pin {
        display: inline-block;
        width: 2.2rem;
        height: 3.2rem;
        background-image: url(/shelter/assets/icons/pin.svg);
        margin-right: 2rem;
        background-size: 2.2rem 3.2rem;
      }

      &-location {
        font-size: 2rem;
        color: $color-primary;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        font-family: $font-georgia;
      }
    }
  }

  .logo-wrapper {
    .logo {
      display: inline-block;
      background-image: url(/shelter/assets/images/footer-puppy.png);
      width: 30rem;
      height: 31rem;
    }
  }
}
