<section class="donation">
  <div class="container">
    <div class="image-wrapper">
      <span class="image-wrapper__picture"></span>
    </div>
    <div class="content-wrapper">
      <h3 class="title title-donation">
        You can also make&nbsp;a&nbsp;donation
      </h3>
      <p class="text text-donation">Name of the bank / Type of bank account</p>
      <div class="credit-wrapper">
        <img
          src="/shelter/assets/icons/credit-card.svg"
          alt="credit-card-icon"
        />
        <p class="text text-credit">8380 2880 8028 8791 7435</p>
      </div>
      <p class="text text-info">
        Legal information and lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam.
        Praesent ultrices maximus tortor et vulputate. Interdum et malesuada
        fames ac ante ipsum primis in faucibus.
      </p>
    </div>
  </div>
</section>
