@import 'bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

strong,
tag {
  @extend .font-monospace;
  @extend .py-1;
  @extend .px-2;
}

strong {
  @extend .bg-light-subtle;
}

tag {
  @extend .bg-dark-subtle;
}
