@import 'bootstrap/scss/bootstrap';

body {
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  position: relative;
  background: #2e2a23;
  background-image: -webkit-radial-gradient(20% 40%,cover circle, #3e392f, #221e17);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
