html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0 auto;
  padding-top: 20%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;

  &__score {
    padding-right: 2vw;
  }

  .button {
    margin-right: 0.5vw;
    cursor: pointer;
  }

  .button:first-child {
    margin-right: 2vh;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(10, 25px);
  gap: 2px;
  max-width: 290px;
  margin: 0 auto;
  padding: 10px;
  background-color: grey;
  opacity: 0.7;
}

.container-medium {
  display: grid;
  grid-template-columns: repeat(15, 25px);
  grid-template-rows: repeat(15, 25px);
  gap: 2px;
  max-width: 425px;
  margin: 0 auto;
  padding: 10px;
  background-color: grey;
  opacity: 0.7;
}

.container-hard {
  display: grid;
  grid-template-columns: repeat(25, 25px);
  grid-template-rows: repeat(25, 25px);
  gap: 2px;
  max-width: 695px;
  margin: 0 auto;
  padding: 10px;
  background-color: grey;
  opacity: 0.7;
}

.row {
  display: grid;
}

.cell {
  background-color: lightgray;
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
  cursor: pointer;
}

.cell:hover {
  background-color: grey;
}
