.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-fafafa;
  max-width: 27rem;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
  overflow: hidden;

  .image-wrapper {
    margin-bottom: 3rem;

    &__picture {
      display: inline-block;

      width: 27rem;
      height: 27rem;
    }
  }
}
