.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-fafafa;
  max-width: 27rem;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
  overflow: hidden;
  transition: transform 0.5s;

  @include for-mobile {
    padding-bottom: 2.9rem;
  }

  .image-wrapper {
    margin-bottom: 3rem;

    @include for-mobile {
      margin-bottom: 2.8rem;
    }

    &__picture {
      display: inline-block;
    }
  }
}

.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
  background-color: #fff;
}

.pet-card:hover .button-secondary {
  background-color: $color-hover-bg;
}
