<div id="level-list" class="d-none">
  <h2 class="d-flex justify-content-between">
    Choose a level
    <i id="cross" class="bi bi-x-lg"></i>
  </h2>
  <div class="levels d-flex flex-column flex-shrink-0 mt-5">
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
    <a class="d-inline-block" href="#"
      ><span> 1<span></span> A</span></a
    >
  </div>
</div>
