<div id="level-description" class="d-flex flex-column">
  <div
    class="d-flex justify-content-between align-items-center text-white text-decoration-none pb-2"
  >
    <div>
      <span class="fs-4">Level #ID# of #TOTAL#</span>
      <i class="bi bi-check-lg fs-2"></i>
    </div>
    <div>
      <i id="left-arrow" class="bi bi-chevron-left fs-2"></i>
      <i id="right-arrow" class="bi bi-chevron-right fs-2"></i>
      <i id="burger" class="bi bi-list fs-2"></i>
    </div>
  </div>
  <div
    class="progress"
    role="progressbar"
    style="height: 2px"
  >
    <div id="level-progress" class="progress-bar" style="width: 100%"></div>
  </div>
  <div class="d-flex flex-column flex-shrink-0 mt-5">
    <h2 class="fs-4 p-1">#SELECTORNAME#</h2>
    <p class="text-muted">#HELPTITLE#</p>
    <span class="fs-2 mt-3 bg-body px-2">#SYNTAX#</span>
    <p class="fs-6 mt-3 opacity-50">
      #HELP#
    </p>
    <h4 class="fs-6 opacity-50 fw-bold">Examples</h4>
    <div>#EXAMPLES#</div>
  </div>
</div>
