.header-container {
  background-color: #fff;
  @include inner-section(3rem 4rem);

  @include for-tablet {
    @include inner-section(3rem 3rem);
  }

  @include for-mobile {
    @include inner-section(3rem 2rem);
  }

  .header {
    @include for-burger {
      align-items: center;
    }

    @include for-mobile {
      padding: 0;
    }

    .title-wrapper {
      .title-logo {
        color: $color-card-title;
      }

      .text-logo {
        color: $color-button;
      }
    }

    .nav {
      @include for-burger {
        position: fixed;
        top: 0;
        right: -100%;
        width: 32rem;
        height: 100%;
        background: $color-fafafa;
        opacity: 0;
        pointer-events: none;
        transition: right 0.5s ease-in-out 0.2s;
        padding: 0 3.8rem;
        overflow: auto;
      }

      @include for-mobile {
        position: fixed;
        top: 0;
        right: -100%;
        width: 32rem;
        height: 100%;
        background: $color-fafafa;
        opacity: 0;
        pointer-events: none;
        transition: right 0.5s ease-in-out 0.2s;
        padding: 0 3.8rem;
        overflow: auto;
      }

      .list {
        @include for-mobile {
          flex-direction: column;
        }

        &__item {
          font-family: $font-arial;
          margin-right: 3.5rem;
          font-size: 1.5rem;
          line-height: 2.4rem;

          @include for-burger {
            margin-right: 0;
          }

          @include for-mobile {
            margin-right: 0;
          }
        }

        &__item:last-child {
          margin-right: 0;
        }

        .fancy-hover {
          color: $color-card-title;
          transition: 0.5s;
        }

        .fancy-hover:hover {
          color: $color-button;
        }

        .active-link {
          color: $color-button;
          border-bottom: 3px solid $color-primary;
          transition: 0.5s;
        }
      }
    }

    .nav_active {
      opacity: 1;
      pointer-events: all;
      z-index: 100;

      @include for-burger {
        right: 0;
      }

      @include for-mobile {
        right: 0;
      }
    }

    .burger {
      display: none;

      @include for-burger {
        z-index: 100;
        display: block;
        position: relative;
        width: 3rem;
        height: 1.5rem;
        cursor: pointer;
      }

      @include for-mobile {
        z-index: 100;
        display: block;
        position: relative;
        width: 3rem;
        height: 1.5rem;
        cursor: pointer;
      }
    }

    .burger span {
      @include for-burger {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $color-button;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: transform 0.5s ease-in;
        background-color: $color-primary;
      }

      @include for-mobile {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $color-button;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: transform 0.5s ease-in;
        background-color: $color-primary;
      }
    }

    .burger span:nth-child(1) {
      @include for-burger {
        top: -0.4rem;
      }

      @include for-mobile {
        top: -0.4rem;
      }
    }

    .burger span:nth-child(2) {
      @include for-burger {
        top: 0.6rem;
      }

      @include for-mobile {
        top: 0.6rem;
      }
    }

    .burger span:nth-child(3) {
      @include for-burger {
        top: 1.6rem;
      }

      @include for-mobile {
        top: 1.6rem;
      }
    }

    .burger_active span:nth-child(1) {
      @include for-burger {
        top: 50%;
        transform: rotate(90deg) translateY(45%);
      }

      @include for-mobile {
        top: 50%;
        transform: rotate(90deg) translateY(45%);
      }
    }

    .burger_active span:nth-child(2) {
      @include for-burger {
        top: 50%;
        transform: rotate(90deg) translateY(9px);
      }

      @include for-mobile {
        top: 50%;
        transform: rotate(90deg) translateY(9px);
      }
    }

    .burger_active span:nth-child(3) {
      @include for-burger {
        top: 50%;
        transform: rotate(-90deg) translateY(7px);
      }

      @include for-mobile {
        top: 50%;
        transform: rotate(-90deg) translateY(7px);
      }
    }

    .burger span {
      @include for-burger {
        background: #000;
      }

      @include for-mobile {
        background: #000;
      }
    }
  }
}
