.start-screen {
  @include background-options(
    url(/../johngaalt-JSFE2023Q1/shelter/assets/images/start-screen-background.png)
  );

  .container {
    @include inner-section(6.1rem 4rem 0 4rem);

    display: flex;
    flex-direction: column;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      .info {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        margin-right: 4.2rem;
        margin-bottom: 8rem;
      }

      .image-container {
        .image-pup {
          display: inline-block;
          width: 69.8rem;
          height: 72.8rem;
          background: url(/shelter/assets/images/start-screen-puppy.png);
        }
      }
    }
  }
}
