.start-screen {
  @include background-options(
    url(/../johngaalt-JSFE2023Q1/shelter/assets/images/start-screen-background.png)
  );

  .container {
    @include inner-section(3rem 4rem 0 4rem);

    @include for-tablet {
      @include inner-section(3rem 3rem 0 3rem);
    }

    @include for-mobile {
      @include inner-section(3rem 1rem 0rem 1rem);
    }

    display: flex;
    flex-direction: column;

    .header {
      @include inner-section(0);
      margin-bottom: 9rem;

      @include for-tablet {
        margin-bottom: 6rem;
      }

      @include for-mobile {
        @include inner-section(0 4.3rem 0 0);
        margin-bottom: 6rem;
      }
    }

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      @include for-tablet {
        flex-direction: column;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        margin-right: 4.2rem;
        margin-bottom: 8rem;

        @include for-tablet {
          margin: 0;
          align-items: center;
        }
      }

      .image-container {
        @include for-tablet {
          margin-top: 10rem;
          padding-left: 20%;
        }

        @include for-mobile {
          margin-top: 10.5rem;
          padding-left: 13%;
        }
      }
    }
  }
}
