<section class="start-screen">
  <div class="container">
    <div>#HEADER#</div>
    <div class="content-wrapper">
      <div class="info">
        <h2 class="title title-start">
          Not only people need&nbsp;a&nbsp;house
        </h2>
        <p class="text text-start">
          We offer to give a chance to a little and nice puppy with an extremely
          wide and open heart. He or she will love you more than anybody else in
          the world, you will see!
        </p>
        <div type="button" class="button button-primary">
          <a href="#pets">Make a friend</a>
        </div>
      </div>
      <div class="image-container">
        <picture>
          <source
            srcset="/shelter/assets/images/start-screen-puppy.png"
            media="(min-width: 1000px)"
          />
          <source
            srcset="/shelter/assets/images/start-screen-puppy-tablet.png"
            media="(min-width: 768px)"
          />
          <source
            srcset="/shelter/assets/images/start-screen-puppy-mobile.png"
            media="(min-width: 320px) and (max-width: 767px)"
          />
          <img
            src="/shelter/assets/images/start-screen-puppy.png"
            alt="puppy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
