.pets {
  background-color: $color-dark-white;

  &-grid {
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem;

    @include for-tablet {
      .pet-card:last-child {
        display: none;
      }
    }

    @include for-mobile {
      .pet-card:not(:first-child) {
        display: none;
      }
    }
  }

  .container {
    @include inner-section(8rem 4rem 10rem);
    display: flex;
    align-items: center;
    flex-direction: column;

    @include for-tablet {
      @include inner-section(8rem 3rem 10rem);
    }

    @include for-mobile {
      @include inner-section(4.2rem 1rem 4.2rem);
    }

    .title-wrapper {
      width: 34%;

      @include for-tablet {
        width: 56%;
      }

      @include for-mobile {
        width: 100%;
      }
    }

    .slider {
      width: 100%;
      position: relative;
      margin-bottom: 6rem;

      @include for-mobile {
        margin-bottom: 11.5rem;
      }

      &__arrow {
        position: absolute;
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        transition: 0.5s;

        &-left {
          left: 0px;
          top: 192px;

          @include for-mobile {
            left: 5.8rem;
            top: 45.5rem;
          }
        }

        &-right {
          right: 0px;
          top: 192px;

          @include for-mobile {
            right: 5.8rem;
            top: 45.5rem;
          }
        }
      }

      &__arrow:hover {
        background-color: $color-hover-bg;
        border: none;
      }

      &__cards {
        color: black;
      }
    }
  }
}
