.pets {
  background-color: $color-dark-white;

  &-grid {
    display: flex;
    justify-content: space-evenly;
    gap: 9rem;

    @include for-tablet {
      gap: 4rem;

      .pet-card:last-child {
        display: none;
      }
    }

    @include for-mobile {
      .pet-card:not(:first-child) {
        display: none;
      }
    }
  }

  .container {
    @include inner-section(6.1% 3.2% 8% 3.2%);
    display: flex;
    align-items: center;
    flex-direction: column;

    @include for-tablet {
      @include inner-section(10.9% 3.9% 12.8%);
    }

    @include for-mobile {
      @include inner-section(14% 1.9% 13%);
    }

    .title-wrapper {
      width: 34%;

      @include for-tablet {
        width: 56%;
      }

      @include for-burger {
        width: 90%;
      }

      @include for-mobile {
        width: 100%;
      }
    }

    .slider {
      width: 100%;
      position: relative;
      margin-bottom: 6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include for-mobile {
        margin-bottom: 11.5rem;
        justify-content: center;
      }

      &__arrow {
        min-width: 5.2rem;
        width: 5.2rem;
        height: 5.2rem;
        border: 2px solid $color-primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        transition: 0.5s;

        @include for-mobile {
          position: absolute;
        }

        &-left {
          // left: 0px;
          // top: 192px;

          @include for-mobile {
            left: 5.8rem;
            top: 45.5rem;
          }
        }

        &-right {
          // right: 0px;
          // top: 192px;

          @include for-mobile {
            right: 5.8rem;
            top: 45.5rem;
          }
        }
      }

      &__arrow:hover {
        background-color: $color-hover-bg;
        border: none;
      }

      &__cards {
        color: black;
      }
    }
  }
}
