<section class="pets">
  <div class="container">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h3 class="title title-pets">
          Our friends who are looking for a house
        </h3>
      </div>
      <div class="slider">
        <div class="arrow__left js-arrow-next"></div>
        <div class="arrow__right js-arrow-previous"></div>
      </div>
      <div class="button-wrapper">
        <button class="button button-get"></button>
      </div>
    </div>
  </div>
</section>
