<section class="pets">
  <div class="container">
    <div class="title-wrapper">
      <h3 class="title title-pets">
        Our friends who are&nbsp;looking&nbsp;for&nbsp;a&nbsp;house
      </h3>
    </div>
    <div class="slider">
      <div class="slider__arrow slider__arrow-left js-arrow-next">&larr;</div>
      <div class="slider__cards">#PETS_CARDS#</div>
      <div class="slider__arrow slider__arrow-right js-arrow-prev">&rarr;</div>
    </div>
    <div class="button-wrapper">
      <div type="button" class="button button-primary">
        <a href="./pets.html">Get to know the rest</a>
      </div>
    </div>
  </div>
</section>
