<section class="pets">
  <div class="container">
    <div class="title-wrapper">
      <h3 class="title title-pets">Our friends who are looking for a house</h3>
    </div>
    <div class="slider">
      <div class="slider__arrow slider__arrow-left js-arrow-next">&larr;</div>
      <div class="slider__card">card</div>
      <div class="slider__arrow slider__arrow-right js-arrow-prev">&rarr;</div>
    </div>
    <div class="button-wrapper">
      <button class="button button-primary">Get to know the rest</button>
    </div>
  </div>
</section>
