.about {
  background-color: #ffffff;

  .container {
    @include inner-section(8rem 21.5rem 10rem 21.5rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include for-tablet {
      @include inner-section(8rem 17rem 10rem 17rem);
      flex-direction: column-reverse;
    }

    @include for-mobile {
      @include inner-section(4.2rem 2.5rem 4.2rem);
    }

    .image-wrapper {
      margin-right: 12rem;

      @include for-tablet {
        margin: 0;
        margin-top: 7.2rem;
      }

      @include for-mobile {
        margin-top: 3.2rem;
      }
    }
  }
}
