.pets-list {
  background-color: $color-dark-white;

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 3rem 4rem;

    @include for-tablet {
      grid-template-columns: repeat(2, 1fr);

      .pet-card:nth-child(7),
      .pet-card:nth-child(8) {
        display: none;
      }

      .pet-card .image-wrapper {
        margin-bottom: 2.9rem;
      }
    }
  }

  .container {
    @include inner-section(8rem 4rem 10rem);
    display: flex;
    align-items: center;
    flex-direction: column;

    @include for-tablet {
      @include inner-section(8rem 9.4rem 7.6rem 9.4rem);
    }

    .title-wrapper {
      width: 34%;

      @include for-tablet {
        width: 100%;
      }
    }

    .title-pets {
      margin-bottom: 6rem;

      @include for-tablet {
        margin-bottom: 3rem;
      }
    }

    .slider {
      width: 100%;
      position: relative;
      margin-bottom: 5.8rem;

      @include for-tablet {
        margin-bottom: 3.8rem;
      }
    }

    .pagination-wrapper {
      display: flex;
      justify-content: space-between;

      .button-pagination {
        margin-right: 2rem;
      }

      .button-pagination:last-child {
        margin-right: 0;
      }

      .button-pagination:nth-child(3) {
        background-color: $color-primary;
      }

      .button-pagination:disabled,
      button[disabled] {
        border: 2px solid $color-cdcdcd;
        color: $color-cdcdcd;
      }
    }
  }
}
