$breakpoint-mobile: 420px; // 320px
$breakpoint-tablet: 820px; // 768px
$breakpoint-desktop: 1280px; // 1280px

@mixin for-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: $breakpoint-small-desktop) {
    @content;
  }
}
