<header>
  <nav
    class="navbar navbar-expand-lg text-bg-dark border-bottom border-bottom-dark"
  >
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="#">CSS Diner</a>
      <div class="navbar-nav">
        <span class="nav-link">Share</span>
        <a class="nav-link" href="#"><i class="bi bi-envelope"></i> </a>
        <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
        <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
      </div>
    </div>
  </nav>
</header>
